@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: #1e1d25;
  font-family: "Roboto", sans-serif;
}

@layer utilities {
  @variants responsive {
    .masonry-3-col {
      column-count: 3;
      column-gap: 1em;
    }
    .masonry-2-col {
      column-count: 2;
      column-gap: 1em;
    }
    .break-inside {
      break-inside: avoid;
    }
  }
}

.btn {
  padding: 5px 15px;
  margin: 10px;
  border: 1px solid #fff;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
}

.btn.active {
  background-color: #f330a5;
  border: 0;
  color: #1e1d25;
}

.post-box {
}

.excerpt {
  background-color: red;
}

.excerpt-box {
  background-color: #282632;
  padding: 20px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.excerpt-box h2 {
  margin-top: 0;
}
